<?xml version="1.0"?>
<configuration>
  <configSections>
    <section
      name="transloadit"
      type="Transloadit.Config.TransloaditConfigSection, Transloadit, Version=1.0.0.0"
      allowLocation="true"
      allowDefinition="Everywhere"
      />
  </configSections>

  <transloadit>
    <transloadit-configs>
      <add name="default"
           auth-key="YOUR-API-KEY"
           auth-secret="YOUR-SECRET-KEY"
           auth-expire="120"
           use-bored-instance="true"
           default-template-id="YOUR-TEMPLATE-ID" />
    </transloadit-configs>
    <log type="Transloadit.Log.TransloaditLogger, Transloadit" enabled="true" />
  </transloadit>
</configuration>
